/* CUSTOM FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');

/* RESETS & DEFAULTS */
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #1c1c1c;
	padding-top: 60px;
	font-weight: 500;
}
a {
	color: #131f97;
	transition: all 0.2s;
}
a:hover {
	color: #505dd8;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0 none;
}
header,
section {
	display: block;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: ' ';
}
.clearfix:after {
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.fw {
	width: 100%;
}
.reset-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.regular {
	font-weight: 400;
}
.light {
	font-weight: 300;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.clear-both {
	clear: both;
}
.text-center {
	text-align: center;
}

/* TYPOGRAPHY */
h1 {
	margin: 60px 0 30px;
	font-size: 30px;
	font-weight: 500;
}
h2 {
	margin: 0 0 24px;
	font-size: 16px;
}
p {
	margin: 0;
}

/* COLORS */
.color-base {
	color: #1c1c1c;
}
.color-grey {
	color: #777777;
}

input {
	margin: 0;
	outline: 0 none;
	border: 0;
}

/* NUMBER FIELD */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
input[type='number'] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	-ms-appearance: textfield;
	appearance: textfield;
	padding: 5px 8px 5px;
	border: 1px solid #cccccc;
	text-align: center;
	display: inline-block;
	width: 38px;
	font-size: 13px;
	line-height: 17px;
	border-radius: 2px;
	color: #777777;
}

button {
	display: inline-block;
	border: 0;
	outline: 0 none;
	font-size: 11px;
	border: 1px solid #131f96;
	background-color: #131f96;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	text-align: center;
	border-radius: 20px;
	letter-spacing: 0.8px;
	transition: all 0.2s;
	cursor: pointer;
}

/* VISIBILITY & HIDDEN CLASSES */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important;
}
@media (max-width: 767px) {
	.visible-xs {
		display: block !important;
	}
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.visible-lg {
		display: block !important;
	}
	.hidden-lg {
		display: none !important;
	}
}

/* CONTAINER */
.container {
	margin: 0 auto;
	padding: 0 20px;
}

/* HEADER */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #131f97;
	height: 60px;
	color: #ffffff;
	z-index: 10;
}
header a {
	color: #ffffff;
}
header .container {
	display: flex;
	align-items: center;
}
header .logo {
	font-size: 20px;
	line-height: 60px;
	font-weight: 600;
	letter-spacing: 0.8px;
}
header .container ul {
	display: flex;
	margin-left: auto;
}
header li {
	line-height: 24px;
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	padding: 0 12px;
	font-size: 12px;
}
header li:last-child {
	border-right: 0;
	padding-right: 0;
}
header li a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
header li i {
	font-size: 16px;
}

/* SUBHEADER */
.subheader {
	background-color: #ffffff;
	box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.8);
	padding: 10px 20px;
}
.subheader .back-link a {
	color: #1c1c1c;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-left: -9px;
	text-align: center;
}

/* FOOTER */
footer {
	display: flex;
	width: 100%;
	align-items: center;
	font-size: 12px;
	background: #212121;
	color: #ffffff;
	height: 60px;
	margin-top: 40px;
	padding: 0 20px;
	justify-content: center;
}

/* TABLETS */
@media (min-width: 768px) {
	body {
		background-color: #f5f5f5;
	}

	.container {
		width: 758px;
	}

	.subheader {
		padding: 20px;
		box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
	}
}

/* MEDIUM DESKTOPS */
@media (min-width: 992px) {
	.container {
		width: 952px;
	}

	header a:hover {
		opacity: 0.8;
		color: #ffffff;
	}

	button:hover {
		background-color: transparent;
		color: #131f96;
	}

	footer {
		margin-top: 120px;
	}
}
